nav {
    display: flex;
    justify-content: space-around;
    background-color: green;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    color: black;
    background-color: white;
}