@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #003049;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4  {
    text-align: center;
}

#hero-msg h4 {
    font-size: 1.5em;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #780000;
}

body {
    background-color: #fef8ec;
    font-family: Montserrat, "Trebuchet MS", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #669bbc;
}

nav a:hover {
    background-color: #003049;
    color: #fef8ec;
    text-decoration: underline;
}

.book, .join {
    background-color: #003049;
    color: #fef8ec;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #780000;
    color: #fef8ec;
    text-decoration: underline;
}

.msg {
    background-color: #fef8ec;
    line-height: 1.5em;
}

footer {
    background-color: #669bbc;
    color: #003049;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #780000;
    font-family: "Noto Serif", Garamond, serif;
    font-size: 4em;
    margin-top: 10px;
}

h4 {
    color: #003049;
}

.msg h2 {
    color: #003049;
    font-family: "Noto Serif",  serif;
    font-size: 2em;
}

.msg p {
    color: #003049;
    padding-bottom: 15px;
}

.logo {
    width: 80px
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #003049;
    text-decoration: none;
}

footer p a:hover {
    background-color: #003049;
    color: #fef8ec;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.msg {
    margin: 0;
    margin-top: 250px;
    padding: 35px;
    background-color: #669bbc;
}

#logo-link {
    padding-top: 5px;
}


.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #003049;
}

.mountains {
    margin-top: 150px;
}

