 body {
  background-color: #020100;
  font-family: "Candara Light", Cambria, sans-serif;
  font-size: 22px;
  max-width: 100%;
  margin: auto;
}

body p, li {
  font-family: "Candara Light", Cambria, sans-serif;
  color: #e5c038; 
}

a, h3, h4 {
  font-family: "Baskerville Old Face", "Times New Roman", serif;
  color: #e5c038;
  font-size: 28px;
}



/*---------------------------------------------------------*/

.page-top {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 40% 30%;
}

#filigree {
  border-bottom: #1e5c11 solid 10px;
  border-top: #1e5c11 solid 10px;
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
}

#child-links {
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

nav a {
  /* width: 10%; */
  text-align: center;
  font-size: 1em;
  color: #e5c038;
  background-color: #020100;
  border-radius: 10px;
  border-style: ridge;
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #1e5c11;
  color: #e5c038;
  border-radius: 10px;
  padding: 10px
}

#link1 {
  margin-top: 50px;
  margin-left: 5%;
  grid-column: 1;
  grid-row: 1; 
}

#link2 {
  margin-top: 50px;
  margin-right: 5%; 
  grid-column: 2;  
  grid-row: 1;
  justify-self: right;
}

.logo {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

#logo-box {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.logo img {
  border-radius: 50%;
  position: absolute;
}


.main-logo {
 grid-column: 1;
}
 
.hover-logo {
  margin-top: 1px;
  margin-left: -1px;
  z-index: 1;
  visibility: hidden;
}

.main-logo:hover + .hover-logo {
  visibility: visible;
}

.hover-logo:hover {
  visibility: visible;
}

#hob1 {
  grid-column: 1/6;
  grid-row: 2;
  width: 100%;
  z-index: -1; 
  border-bottom: #1e5c11 solid 10px;
}
/*---------------------------------------------------------*/

.fun {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  background-color: #020100;
}

.prepare {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  background-color: #020100;
 
}

.modify {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  grid-template-rows: 5% 1fr 1fr 1fr 5%;
  background-color: #020100;
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  height: min-content;
}

.text p {
  grid-row: 2;
  margin: 0 30px;
  text-align: center;
  z-index: 2;
  padding-bottom: 20px;
}

.title {
  grid-column: 1;
  grid-row: 1;
  /* height: 80px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title img {
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
  margin-top: 5px;
  border-radius: 20px;
}

.title h3 {
  display: block;
  background-color: #1e5c11;
  padding-top: 5px;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 1;
  text-align: center;
  z-index: 1;
}

#bag-end {
  display: grid;
  grid-column: 2/4;
  grid-row: 2/5;
  margin-bottom: 100px;
  border-radius: 20px;
}

.fun .text {
  background-color:#1e5c11;
  color: #e5c038;
  border: 5px solid #e5c038;
  border-radius: 25px;
  border-style: ridge;
  grid-column: 3/5;
  grid-row: 3/5;
  z-index: 1;
}

#hobbit-house {
  grid-column: 3/5;
  grid-row: 2/5;
  justify-self: right;  
  margin-bottom: 100px;
  border-radius: 20px;
}

.prepare .text {
  background-color:#1e5c11;
  color: #e5c038;
  border: 5px solid #e5c038;
  border-radius: 25px;
  border-style: ridge;
  grid-column: 2/4;
  grid-row: 3/5;
  z-index: 1;
}

#hobbiton {
  display: grid;
  grid-column: 2/4;
  grid-row: 2/5;
  margin-bottom: 100px;
  border-radius: 20px;
}

.modify .text {
  background-color:#1e5c11;
  color: #e5c038;
  border: 5px solid #e5c038;
  border-radius: 25px;
  border-style: ridge;
  grid-column: 3/5;
  grid-row: 3/5;
  z-index: 1;
  margin-bottom: 80px; 
}

/*---------------------------------------------------------*/

footer {
  color: #e5c038;
  background-color: #020100;
  border-bottom: #1e5c11 solid 10px;
}

#bottom-img {
  width: 100%;
  height: 800px;
  margin-top: -80px;
}

footer .social img {
  padding: 15px;
}

footer .social {
  margin-left: 0px;
}

footer .copy {
  text-align: right;
  margin-right: 50px;
  margin-top: -110px;
}

footer .copy a {
  font-family: "Candara Light", Cambria, sans-serif;
  font-size: 1em;
  color: #e5c038;
  text-decoration: none;
}
 footer .copy a:hover {
  background-color: #1e5c11;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: #e5c038 ridge 3px;
 }



/*---------------------Child pages------------------------------------*/

.background {
  display: grid;
  grid-template-columns: repeat(7, 14.25%); 
}

#accordion {
  grid-column: 1/6;
  display: block;
  padding-top: 25px;
  grid-row: 1;
  z-index: 1;
}

#sidebar {
  grid-column: 5/8;
  grid-row: 1;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  height: fit-content;
}

#the-sidebar {
  grid-column: 5/8;
  grid-row: 1;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  height: fit-content;
   
}

.accordion {
  background-color: #020100;
  color: #e5c038;
  cursor: pointer;
  padding: 10px;
  width: 95%;
  text-align: left;
  font-size: larger;
  border:#e5c038 4px solid;
  border-style: ridge;
  outline: none;
  transition: 0.4s;
  border-radius: 20px;
  font-family: "Baskerville Old Face", "Times New Roman", serif;
}

.active, .accordion:hover {
  background-color: #1e5c11;
  color: #e5c038;
  border: #e5c038 4px solid;
  border-style: ridge;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #e5c038;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}

.panel {
  padding: 20px;
  background-color: white;
  display: none;
  margin-left: 3%;
  margin-top: -25px;
  width: 85%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: #1e5c11 4px solid;
  border-left:  #1e5c11 4px solid;
  border-right:  #1e5c11 4px solid;
  border-top: none;  
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: smaller;
  text-decoration: underline;
  color: #1e5c11;
  text-indent: 10px;
  opacity: 75%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #020100;
  color: #e5c038;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: #e5c038 2px solid;
  border-style: ridge;
  position: absolute;
  z-index: 2;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible; 
}

.tooltip:hover {
  opacity: 100%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 20px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.time {
  color: #020100;
}

#side-text {
  grid-column: 2/4;
  z-index: 1;
  background-color: #1e5c11;
  padding: 25px;
  border-radius: 20px;
  border: #e5c038 4px solid;
  border-style: ridge;
  margin-top: 25px; 
}

#the-side-text {
  grid-column: 2/4;
  z-index: 1;
  background-color: #1e5c11;
  padding: 25px;
  border-radius: 20px;
  border: #e5c038 4px solid;
  border-style: ridge;
  margin-top: 25px; 
}

h4 {
  font-size: 1em;
  margin-bottom: 0px;
  color: #e5c038;
}
 
sup {
  font-size: .4em;
}

#side-text li {
  list-style-type: '~ ';
}

#side-imgs {
  grid-row: 1; 
}

#apples {
  margin-top: 250px;
  border-radius: 20px;
}

#sausage {
  margin-top: 300px;
  border-radius: 20px;
}

#mushrooms {
  margin-top: 300px;
  border-radius: 20px;
  margin-bottom: 150px;
}

#bag-end-b {
  width: 100%;
}